<%- include('../layouts/homehead.ejs') %>
    <%- include('../layouts/homenav.ejs') %>

        <!-- profile -->
        <section style="background-color: #eee;">

            <div class="container" style="padding-top: 10em;">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://i.pinimg.com/originals/0a/f3/c9/0af3c9613761d2d2394d99312aeba397.gif"
                                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">
                                    <%=userData.name%>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <form action="/saveaddress" method="post">
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-black"><strong>Enter Your Address</strong></p>
                                        </div>
                                        <div class="col-md-10 mt-2 col-12">
                                            <div class="d-flex justify-content-between">
                                                <input type="text" class="w-50 me-2" placeholder="Name" name="name"
                                                    style="height: 40px;  ">
                                                <input type="number" class="w-50" placeholder="Mobile" name="mobile"
                                                    style="height: 40px;  "><br><br>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <input type="text" placeholder="House name" name="home"
                                                    class="w-50 me-2" style="height: 40px;  ">
                                                <input type="text" class="w-50 " placeholder="Street" name="street"
                                                    style="height: 40px;  "><br><br>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <input type="text" class="w-50 me-2" placeholder="City" name="city"
                                                    style="height: 40px;  ">
                                                <input type="text" class="w-50" placeholder="District" name="district"
                                                    style="height: 40px;  "><br><br>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <input type="text" class="w-50 me-2" placeholder="State" name="state"
                                                    style="height: 40px;  ">
                                                <input type="text" class="w-50" placeholder="Country" name="country"
                                                    style="height: 40px;  "><br><br>
                                            </div>
                                            <input type="number" class="" placeholder="Pincode" name="zip"
                                                style="height: 40px;  ">
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <button class="btn btn-warning m-4" type="submit">Save</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- End profile -->

        <script>
            const page = document.getElementById('my-account');
            page.classList.remove('text-light');
            page.classList.add('text-warning');
        </script>

        <%- include('../layouts/homefoot.ejs') %>